/*Make loading image*/
@font-face {
    font-family: "fontawesome";
    src: url("../fonts/fontawesome-webfont.ttf");
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
    font-family: "HelveticaNeueBold";
    src: url("../fonts/HelveticaNeueBold.ttf");
}
.awesome {
    font-family: fontawesome;
}
.pdploading {
  background: url("../images/loading.gif") no-repeat scroll center center #F1F1F1;
  color: #FFFFFF;
  font-size: 0;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.wrap_inlay .item img {
    position: absolute;
}
.img_view {
    text-decoration: none;
}
.itemsssss {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.design-color-image li img {
    width: 100%;
}
.tshirt-size .size_option_0 {
    line-height: 80px;
    width: 10%;
}

#design_control .design-color-image h3 span {
  font-size: 12px;
  font-weight: normal;
  padding: 0 5px 0 0;
}
.pdp_extra_item #pdp_edit_text_size label {
  color: #FFFFFF;
  float: left;
  font-size: 15px;
  width: 90px;
}
#icon_list li {
  text-align: center;
  width: 20%;
}
#product-image-wrap-back {
    display: none;
}
#pdp_rotate_item {
  background: none repeat scroll 0 0 #FFFFFF;
  position: absolute;
  top: 45px;
  width: 250px;
  z-index: 99;
}
#pdp_side_items ul {
  float: left;
  padding: 2%;
}
#pdp_side_items li {
  cursor: pointer;
  float: left;
  height: 150px;
  text-align: center;
  width: 125px;
}
#pdp_side_items li.active img {
    border: 1px solid red;
}
#pdp_side_items li label {
  float: left;
  font-size: 17px;
  width: 100%;
}
#pdp_side_items li img {
  width: 90%;
  border: 1px solid transparent;
}
.cart .item-options label {
    float: left;
    width: 35px;
}
.cart .item-options p {
    margin: 0;
}
#select_image span img {
    max-height: 70px;
}
.cart .item-options li {
    float: left;
    width: 100%;
}
.cart .item-options span {
    float: left;
}
.tab_main.add_text_tab  {
   
}
#choose_products, #rotate-180, .add_text, .add_artwork,#save_design {
  border-right: 1px solid #CCCCCC;
  color: #59585B;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.control_tab a {
  color: #414142;
  cursor: pointer;
  font-family: arial;
  font-size: 15px;
  line-height: 45px;
  padding: 0;
  text-decoration: none;
}
#pdp_question, #save_design {
    float: right;
}
#choose_products {
    padding: 0 0 0 30px;
}
#edit_item_wrap .item.active {
    color: #e55725;
}
#pdp_opacity_item span {
    
}
#pdp_edit_text_tab {
  position: absolute;
  top: -30px;
}
#pdp_edit_text {
    margin: 30px 0 0;
}
#pdp_edit_text_content {
    height: 55px;
}
#pdp_font_size_input-slider, #pdp_edit_text_line_height_input-slider {
    margin-top: 6px;
}
#pdp_font_size_value {
  color: #FFFFFF;
  font-size: 15px;
}
#pdp_edit_text_style li {
  cursor: pointer;
  float: left;
  margin: 0 5px;
  text-align: center;
}
 
#pdp_edit_text_style li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px;
  color: #111111;
  float: left;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  width: 30px;
}
#pdp_edit_text_input {
  border: medium none;
  border-radius: 4px;
  font-size: 15px;
  height: 100%;
  line-height: 15px;
  width: 100%;
}
#pdp_edit_text_tab a {
  background: none repeat scroll 0 0 #F2C35E;
  border-radius: 5px 5px 0 0;
  color: #111111;
  cursor: pointer;
  float: left;
  font-size: 15px;
  line-height: 30px;
  margin: 0 1px;
  padding: 0 15px;
  text-decoration: none;
}
#pdp_edit_text_tab a.active {
  background: none repeat scroll 0 0 #A87B50;
  color: #FFFFFF;
}
span.pdp_title {
  font-size: 20px;
  padding: 0 8px 0 0;
}
#cboxTitle a {
  background: none repeat scroll 0 0 #4F8100;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 3px 10px;
}
.tshirt-size {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
#move_z_index .move_to_front {
  background: url("../images/move_to_front.png") no-repeat scroll center top;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  width: 100%;
}
#move_z_index .move_to_back {
    background: url(../images/move_to_back.png) no-repeat top center;
    cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  width: 100%;
}
.action_pdp {
    float: left;
    width: 100%;
}
.action_pdp .save_png {
  float: left;
  margin: 0 10px;
}
.action_pdp .save_svg {
  float: left;
  margin: 0 10px;
}
.action_pdp .save_json {
    float: left;
}
.tshirt-size ul li label {
  color: #000000;
  float: left;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 80px;
}
.tshirt-size ul li input {
  height: 30px;
  margin: 0 30px 0 10px;
  text-align: center;
  width: 30px;
}
.tshirt-size ul li {
  display: none;
  float: left;
  margin: 5px 0;
  position: relative;
  width: 100%;
}
.tshirt-size h1 {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  float: left;
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 -1px 15px;
  padding: 0 10px;
  position: relative;
}
.tshirt-size ul {
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 0;
  width: 94%;
}
#add_text {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 99;
}
.design-color-image li {
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  float: left;
  height: auto;
  margin: 0 5px 5px 0;
  min-height: 30px;
  padding: 5px;
  width: 30px;
}
.color_content {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.color_content .inlay_div {
  background: none repeat scroll 0 0 #111111;
  cursor: no-drop;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  width: 100%;
}
.color_content_wrap label {
  float: left;
  font-size: 18px;
  line-height: 47px;
  padding: 0 10px 0 20px;
}
.color_content_wrap input {
  border: 1px solid #111111;
  border-radius: 4px 4px 4px 4px;
  float: left;
  height: 25px;
  margin: 10px 10px 0 0;
  text-transform: uppercase;
  width: 100px;
}
.color_content .color_content_wrap .selected_color {
  opacity: 1;
}
.color_content .color_content_wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  margin: 50px auto 0;
  position: relative;
  width: 720px;
}
.color_content .color_content_wrap ul {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  float: left;
  list-style: none outside none;
  padding: 10px;
}
.color_content .color_content_wrap ul li {
  display: inline-block;
  float: left;
  height: 50px;
}
.color_content .color_content_wrap ul li.last {
    float: right;
}
.color_content .color_content_wrap ul li.last a {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
.color_content .color_content_wrap ul li:hover a {
    opacity: 1;
    border: 2px dashed #000000;
}
.color_content .color_content_wrap ul li a.act {
    opacity: 1;
    border: 2px dashed #000000;
}
.color_content .color_content_wrap ul li a {
  border: 2px solid;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  margin: 3px;
  width: 40px;
}
.design-color-image li.active {
  border: 2px solid #D64BF2;
  border-radius: 10px;
}
.design-color-image {
    float: left;
    width: 100%;
}
.design-color-image ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
#pdp_opacity_item span {
  color: #FFFFFF;
  float: left;
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px;
}
#pdp_opacity_item input {
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin: 2px 0 0;
  width: 30%;
}
.pdp_extra_item {
  background: none repeat scroll 0 0 #A87B50;
  bottom: 69px;
  float: left;
  padding: 10px 2%;
  position: absolute;
  width: 96%;
  z-index: 999;
  min-height:55px;
}
#pdp_shadow_item {
  height: 80px;
}
.pdp_extra_item label {
  color: #FFFFFF;
  float: left;
  font-size: 15px;
}
.pdp_bottom_action {
  background: url("../images/bg_bottom_action.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 69px;
  padding: 0 1%;
  position: relative;
  width: 98%;
}
#edit_item_wrap {
  display: block;
  float: left;
  margin: 10px 0 5px;
  max-width: 775px;
  position: relative;
  width: 88%;
}
#edit_item_wrap > div {
    opacity: 0.5;
}
#edit_item_wrap label {
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 26px;
  left: 0;
  margin: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}
#move_to_front label {
    background: url("../images/front.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
}
#move_to_front:hover label, #move_to_front.active label {
    background-position: center -49px;
}
#move_to_back label {
    background: url("../images/back.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
}
#move_to_back:hover label, #move_to_back.active label {
    background-position: center -49px;
}
#shadow_item:hover label, #shadow_item.active label {
    background-position: center -49px;
}
#shadow_item label {
    background: url("../images/shadow.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
}
#opacity_item:hover label, #opacity_item.active label {
    background-position: center -51px;
}
#opacity_item label {
    background: url("../images/opacity.png") no-repeat scroll center 1px rgba(0, 0, 0, 0);
}
#delete_item label, #color_item label, #flip_item label, #edit_text label, #edit_font label, #effects_item label{
    font-size: 24px;
    padding: 0;
}
#delete_item label:hover, #color_item label:hover, #flip_item label:hover, #edit_text label:hover, #edit_font label:hover, #effects_item label:hover {
    color: #e55725;
}
#edit_item_wrap .owl-wrapper .owl-item span {
  cursor: pointer;
  float: left;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
#edit_item_wrap .item:hover {
    color: #e55725;
}
#edit_item_wrap .item {
  border-right: 1px solid #CCCCCC;
  color: #6D6E70;
  float: left;
  text-align: center;
  width: 100%;
}
#edit_item_wrap .owl-buttons .awesome {position: absolute; font-size: 15px;}
#edit_item_wrap .owl-buttons .owl-prev {
  left: 0;
  top: 15px;
}
#edit_item_wrap .owl-buttons .owl-next {
  right: 0;
  top: 15px;
}
#photos_album {
  float: left;
  padding: 5px;
}
#move_item {
  background: url("../images/align.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 50px;
  margin: 10px 15px;
  overflow: hidden;
  position: relative;
  width: 50px;
}
#move_item span {
  position: absolute;
  cursor: pointer;
  width: 13px;
  height: 13px;
  font-size: 0;
  float: left;
}
#move_item span.m_tl:hover {
    background: url(../images/top_left.png) no-repeat;
}
#move_item span.m_tr:hover {
    background: url(../images/top_right.png) no-repeat;
}
#move_item span.m_bl:hover {
    background: url(../images/bottom_left.png) no-repeat;
}
#move_item span.m_br:hover {
    background: url(../images/bottom_right.png) no-repeat;
}
#move_item span.m_cl:hover, #move_item span.m_cr:hover {
    background: url(../images/center_right.png) no-repeat;
    width: 7px;
}
#move_item span.m_tc:hover, #move_item span.m_bc:hover {
    background: url(../images/top_center.png) no-repeat;
    height: 7px;
}
#move_item span.m_tl {
  left: 0;
  top: 0;
}
#move_item span.m_tc {
  height: 13px;
  left: 18px;
  width: 15px;
}
#move_item span.m_tr {
  right: 0;
}
#move_item span.m_cl {
  height: 15px;
  top: 18px;
  width: 13px;
}
#move_item span.m_cc {
  height: 24px;
  left: 13px;
  top: 13px;
  width: 24px;
}
#move_item span.m_cr {
  height: 15px;
  right: 0;
  top: 18px;
  width: 13px;
}
#move_item span.m_bl {
  bottom: 0;
}
#move_item span.m_bc {
  bottom: 0;
  height: 13px;
  left: 18px;
  width: 15px;
}
#move_item span.m_br {
  bottom: 0;
  right: 0;
}
#delete_item {
  float: left;
  width: 5%;
}
#flip_items {
  float: left;
  width: 100%;
}
#pdp_flip_x label {
  line-height: 40px;
}
#pdp_flip_y label{
    line-height: 40px;
}
#pdp_flip_x a {
  background: url("../images/flips-01.png") no-repeat scroll -53px 0 #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  margin: 0;
  width: 53px;
}
#pdp_opacity_input-slider {
  float: left;
  margin-top: 7px;
}
#pdp_flip_y a {
  background: url("../images/flips-01.png") no-repeat scroll 0 0 #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  margin: 0 0 0 5px;
  width: 53px;
}
.box_font_size {
  float: left;
  width: 80px;
}
#duplicate_item span {
  background: url("../images/duplicate.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 40px;
  width: 100%;
}
#duplicate_item {
  float: left;
  margin: 10px 0;
  text-align: center;
  width: 40px;
}
.product-img-box .color_att {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 5px;
  position: relative;
  width: 100%;
  z-index: 99;
  max-width: 500px;
}
.loading_initializing {
  background: none repeat scroll 0 0 #FFFFFF;
  cursor: wait;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.loading_initializing .process_wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #111111;
  border-radius: 4px 4px 4px 4px;
  height: 15px;
  margin: 0 0 0 50px;
  overflow: hidden;
  width: 300px;
}
.loading_initializing .process_wrap span {
  background: none repeat scroll 0 0 #23E509;
  float: left;
  height: 15px;
  width: 0%;
}
.loading_initializing .p_wrap {
  background: none repeat scroll 0 0 #000000;
  border-radius: 10px 10px 10px 10px;
  color: red;
  font-size: 50px;
  left: 38%;
  position: absolute;
  top: 40%;
  width: 400px;
}
.loading_initializing p span {
    display: block;
}
.product-img-box .color_att li.ori_img {
    border: 1px dotted;
}
.product-img-box .color_att li {
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  margin: 0 5px 0 0;
  width: 30px;
}
.color_wrap {
    margin: 10px 0 0 0;
}
.product-img-box .color_att li a {
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 0;
  height: 20px;
  width: 20px;
}
.t_shirt.tab_main {
  border-left: 1px solid #CFCFCF;
  border-radius: 5px 0 0 5px;
}
.add_text_tab.tab_main {
    border-radius: 0 5px 5px 0;
}
.tab_main.active {
  background: url("../images/bg-tab-act.png") repeat-x scroll 0 0 transparent;
}
.product-img-box .color_att li.cact a {
    border: 1px solid red;
}
#tab_control ul {
  list-style: none outside none;
  margin: 0 0 0 3%;
  padding: 0;
}
.control_text_img_tab {
  float: left;
  left: 10px;
  position: relative;
  top: 31px;
}
.img_result {
    position: relative;
}
.c_items img {
    
}
#shopping-cart-table .wrap_inlay, 
#cboxLoadedContent .wrap_inlay {
    display: block;
    border: none;
}
#list_color ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.product-info span.price, span.product-title {
    display: block;
    font-size: 25px;
}
#list_color ul li {
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  float: left;
  padding: 5px;
  margin: 5px 10px 5px 0;
  min-height: 50px;
  overflow: hidden;
  width: 50px;
}
#list_color ul li.active {
  border: 2px solid #000000;
  border-radius: 10px;
}
.wrap_inlay_center {
  position: relative;
  text-align: center;
}
.wrapper_pdp .product-img-box {
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  margin: 0;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.wrapper_pdp .pdp_add_to_cart {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: right;
  margin: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  position: absolute;
  right: 5px;
  text-align: right;
  width: 95px;
}
.wrapper_pdp .pdp_add_to_cart a {
  background: none repeat scroll 0 0 #E55725;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  height: 38px;
  padding: 2px 1px 13px;
  text-align: center;
  text-decoration: none;
}
.pdp_add_to_cart .pi-shopping-cart {
    font-size: 30px;
}
.wrapper_pdp .pdp_add_to_cart a .pdp_continue {
  float: left;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  width: 100%;
}
.canvas_slider {
  float: left;
}
.wrap_addwork {
  border: 1px solid #F15A29;
  float: left;
  width: 100%;
}
.wrapper_pdp #design_control #select_image {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  padding: 0;
  position: absolute;
  top: 45px;
  width: 75%;
  z-index: 99;
}
.wrapper_pdp .product-image {
  display: none;
  float: left;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper_pdp .product-image.act {
  display: block;
}
.wrapper_pdp .product-img-box #rotate-180 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
}
.wrapper_pdp .product-img-box #rotate-180 a {
  background: url("images/rotate.png") no-repeat scroll 10px center #FFFCFC;
  border-radius: 0 0 0 15px;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 23px;
  padding: 5px 10px;
  text-decoration: none;
  width: 59px;
}

#design_control .control_tab {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper_pdp #design_control .tab_content {
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  width: 75%;
  z-index: 9999;
}
#design_control .control_tab .control_tab_wrap {
  float: left;
  padding: 0;
  width: 100%;
}
.content_designs ul#icon_list {
  float: left;
  margin: 0 0 20px;
  max-height: 250px;
  min-height: 150px;
  min-width: 96%;
  overflow: auto;
  padding: 0;
}
.wrapper_pdp .content_designs .add-more {
	float: left;
    text-align: center;
    width: 100%;
}
.wrapper_pdp .btn {
  background: none repeat scroll 0 0 #AD7D3E;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
}
.content_designs {
    position: relative;
    float: left;
    width: 100%;
}
.content_designs .design_label {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  clear: both;
  color: #000000;
  float: left;
  font-size: 15px;
  margin: 0 0 0 3%;
  padding: 10px 2%;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 90%;
}
.content_designs .design_label .pdp_selected_category {
  margin: 0 10px;
  padding: 0 0 0 10px;
  text-transform: capitalize;
}
.design_label .pdp_parent {
float: right;
}
.design_label span {
cursor: pointer;
}
.content_designs span.loading-img {
  background: url("../images/loading.gif") no-repeat scroll center center / 600px auto #FFFFFF;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}
.content_designs #image_category_list {
  border-left: 1px solid #F15A29;
  border-radius: 0 0 5px 5px;
  border-right: 1px solid #F15A29;
  display: none;
  left: 3%;
  overflow: hidden;
  position: absolute;
  top: 45px;
  width: 94%;
}
.content_designs #image_category_list li {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #F15A29;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.content_designs #image_category_list li:hover {
    background: #A2CFD3;
}
/* Facebook Login Button */
#fb-auth.login {
  background: url("../images/fblogin.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  border: medium none;
  clear: left;
  float: left;
  font-size: 0;
  height: 26px;
  margin: 5px;
  text-indent: -9999px;
  width: 133px;
}
#fb-auth.logout {
  background: url("../images/fblogout.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 0;
  height: 26px;
  margin: 5px;
  text-indent: -9999px;
  width: 133px;
}
.add_to_box .add-to-cart .btn-cart {
  background: url("../images/add_to_cart.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 0;
  height: 64px;
  margin: 0 20px 0 0;
  width: 152px;
}
.add_to_box .price {
  color: #A02566;
  float: right;
  font-size: 24px;
  line-height: 64px;
  padding: 0 10px 0 0;
}
.add_to_box .add-to-cart {
    float: right;
} 
.content_designs #image_category_list .active {
    background: #A2CFD3;
}
.wrapper_pdp {
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  width: 100%;
}
.wrap_pdp_design {
  box-shadow: 0 0 10px #666666;
  float: left;
  position: relative;
  width: 100%;
}
.tab_main a {
  color: #333333;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}
.tab_main {
  background: url("../images/bg-tab.png") repeat-x scroll 0 0 transparent;
  border-right: 1px solid #D7D7D7;
  cursor: pointer;
  display: block;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 18px;
  position: relative;
}
#design_control {
  background: none repeat scroll 0 0 #E8E8E9;
  float: left;
  padding: 0;
  width: 100%;
}

#pdp_question span {
    line-height: 72px;
}
.control_tab a:hover {
    color: #f15a29;
}
.content_upload span {
    float: left;
}
.pdp_parents {
    padding: 0 0 0 8px;
}
#select_font li {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  font-size: 18px;
  line-height: 45px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 85%;
}
#select_font li:hover, #select_font li.active {
    background: none repeat scroll 0 0 #E55725;
    color: #FFFFFF;
}
#select_font li.active:before {
    color: #FFFFFF;
    content: "\f05d";
    font-family: FontAwesome;
    margin: 5px;
}
#select_font_span {
  background: url("images/bg-font-span.png") no-repeat scroll 95% center transparent;
  border: 1px solid #CCCCCC;
  float: left;
  font-family: Arial;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
  width: 150px;
}
#pdp_edit_font_color input {
  border: medium none;
  border-radius: 5px;
  display: none;
  float: left;
  font-size: 18px;
  height: 30px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 100px;
}
.pdp_color_list ul li a {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: move;
  float: left;
  font-size: 0;
  height: 41px;
  overflow: visible;
  width: 41px;
}
.pdp_color_list ul li a.active:before,.pdp_color_list ul li a:hover:before {
  border-color: #D9DA02 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #D9DA02;
  border-style: solid;
  border-width: 10px;
  content: "";
  font-size: 12px;
  height: 0;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.pdp_color_list ul li a.active{border-color:#D9DA02;text-decoration:none;}
.pdp_color_list ul {
    display: block;
    float: left;
}
#pdp_edit_font_color22 span {
  background: none repeat scroll 0 0 #111111;
  border-radius: 5px;
  color: #FFFFFF;
  float: left;
  height: 31px;
  line-height: 30px;
  width: 100px;
}
/* Edit Font Style */
.pdp_edit_font_style {
  display: block;
  float: left;
  width: 30%;
}
.pdp_edit_text_font_size{
  float: left;
  margin: 10px 0;
  width: 40%;
}
.pdp_edit_text_line_height {
  float: left;
  margin: 10px 0;
  width: 30%;
}
#pdp_font_size_input {
    margin: 9px 10px 0 0;
    width: 40%;
}
.pdp_edit_font_style li, #pdp_edit_text_style li {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  float: left;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 25px;
}
.pdp_edit_font_style li a,#pdp_edit_text_style li a {
  color: #414141;
  font-size: 18px;
}

.pdp_edit_font_style li a:hover,.pdp_edit_font_style li a.active, 
#pdp_edit_text_style li a:hover,#pdp_edit_text_style li a.active {
    color: #E55725;
}

#select_font {
  display: block;
  float: left;
  font-size: 15px;
  z-index: 9;
}
#select_font .owl-prev, .pdp_color_list .owl-prev {
  font-size: 15px;
  left: -12px;
  position: absolute;
  top: 15px;
}
#select_font .owl-next, .pdp_color_list .owl-next {
  font-size: 15px;
  position: absolute;
  right: -12px;
  top: 15px;
}
.wrap_pdp_design .add_to_box {
  display: none;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#add_text_input {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 0 0;
  min-height: 50px;
  padding: 5px 2%;
  width: 96%;
}
.wrapper_pdp .product-title {
    float: left;
    line-height: 36px;
    padding: 0;
}
#change_text_type a.active {
    background-color: #9E9C9E!important;
}
.wrapper_pdp .product-info {
  float: right;
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
}
.add_text_field label {
  color: #000000;
  float: left;
  font-size: 14px;
  padding: 5px 15px;
  text-transform: uppercase;
}
#change_text_type ul {
  list-style: none outside none;
  padding: 0;
}
#product-image-wrap .item {
    top: 70px;
    left: 58px;
}
#product-image-wrap .item.text-image {
    top: 150px;
    left: 58px;
}
#change_text_type li a {
  float: left;
  font-size: 0;
  height: 18px;
  padding: 0 0 0 4px;
  width: 18px;
  cursor: pointer;
}
#change_text_type li a.bold {
  background: url("../images/text_icons/Bold.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.italic {
  background: url("../images/text_icons/Italic.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.underline {
  background: url("../images/text_icons/Underline.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.align_left {
  background: url("../images/text_icons/AlignLeft.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.align_center {
  background: url("../images/text_icons/AlignCenter.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.align_right {
  background: url("../images/text_icons/AlignRight.png") no-repeat scroll 3px 0 transparent;
}
#change_text_type li a.align_justify {
  background: url("../images/text_icons/Justify.png") no-repeat scroll 3px 0 transparent;
}
.wrap_inlay {
  border: 1px dashed transparent;
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 11;
}
.product-image.act .wrap_inlay {
    display: block;
}
.wrap_inlay.act2 {
  border: 1px dashed orange;
  display: block;
}
.add_text_field .box_text {
  float: left;
  padding: 0 20px 0 0;
  position: relative;
  width: 150px;
}
#change_text_type {
    float: left;
    width: 100%;
    margin: 10px 0;
}
#change_text_type li {
  border: 1px solid #7E7E7E;
  border-radius: 2px 2px 2px 2px;
  float: left;
  margin: 0 2px;
  text-align: center;
}
#select_image #choose_type_design li{
    width: 100%;
    margin: 0 0 10px;
} 
#select_image #choose_type_design li label {
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 0 5px;
}
#select_image #choose_type_design li input {
    float: left;
}
#lists_img_upload {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 0;
}
#lists_img_upload span {
    float: left;
    padding: 0 0 5px 0;
    cursor: pointer;
}
.add_text_field .box_size {
    float: left;
    width: 80px;
    padding: 0 20px 0 0;
}
.add_text_field .box_color {
  float: left;
  width: 80px;
}
#select_font_size {
  font-size: 15px;
  height: 30px;
  margin: 0;
  width: 30px;
  text-align: center;
}
.add_text_field.edit_form #add_text_action {
    display: none;
}
.image_item canvas {
    width: 100%;
    height: 100%;
}
#add_text_action, #edit_text_action {
  background: none repeat scroll 0 0 #F15A29;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 15px;
}
#list_color li img {
    width: 100%;
}
#font_color_div, #font_outline_color {
  float: left;
  margin: 0 0 0 15px;
  position: relative;
}
#font_outline_colorpicker {
  background: none repeat scroll 0 0 #FFFFFF;
  display: none;
  left: 0;
  position: absolute;
  top: 30px;
}
#font_color_div div, #font_outline_color div {
  background: url("../images/select.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 36px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 36px;
}
.font_outline_color > div {
  float: left;
  position: relative;
  text-align: center;
 
}
.font_outline_color .h-shadow, .font_outline_color .v-shadow,.font_outline_color .blur, .font_outline_color .color {
  float: left;
  width: 49%;
}
#font_outline_color {
  margin: 0;
}
.font_outline_color .next_t {
  background: url("images/next_t.png") no-repeat scroll center center transparent;
  cursor: pointer;
  bottom: 0;
  float: right;
  font-size: 0;
  height: 30px;
  position: absolute;
  right: 8px;
  width: 13px;
}
.select_font_size .next_t {
  background: url("images/next_t.png") no-repeat scroll center center transparent;
  cursor: pointer;
  bottom: 0;
  float: right;
  font-size: 0;
  height: 30px;
  position: absolute;
  right: 0;
  width: 13px;
}
.tshirt-size .next_t {
  background: url("images/next_t.png") no-repeat scroll center center transparent;
  cursor: pointer;
  bottom: 0;
  float: right;
  font-size: 0;
  height: 30px;
  position: absolute;
  right: 201px;
  width: 13px;
}
.select_font_size {
  float: left;
  position: relative;
  text-align: center;
  width: 65px;
}
.font_outline_color .prev_t {
  background: url("images/prev_t.png") no-repeat scroll center center transparent;
  bottom: 0;
  font-size: 0;
  cursor: pointer;
  height: 30px;
  left: 8px;
  position: absolute;
  width: 13px;
}
.tshirt-size .prev_t {
  background: url("images/prev_t.png") no-repeat scroll center center transparent;
  bottom: 0;
  font-size: 0;
  cursor: pointer;
  height: 30px;
  left: 70px;
  position: absolute;
  width: 13px;
}
.select_font_size .prev_t {
  background: url("images/prev_t.png") no-repeat scroll center center transparent;
  bottom: 0;
  font-size: 0;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  width: 13px;
}
.font_outline_color > div.use_shadow {
    width: 100%;
}
.font_outline_color #use_shadow {
  border: 1px solid #FF0000;
  cursor: pointer;
  float: left;
  height: 12px;
  margin: 5px 12px 0 0;
  width: 12px;
}
.font_outline_color #use_shadow.active {
  background: url("../images/checked_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  height: 17px;
  margin: 2px 10px 0 0;
  width: 16px;
}
.font_outline_color label {
  text-align: left;
  width: 30%;
}
.font_outline_color .use_shadow label {
  float: left;
  line-height: 25px;
  width: auto;
}
.font_outline_color input {
  border: medium none;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 5px 0 0 15px;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: -5px; bottom: -5px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.text-swatches > li {
  display: inline-block;
}
.text-swatches > li > a {
  display: block;
  padding: 1px;
  border: 2px solid transparent;
}
.text-swatches > li > a.active {
  border: 2px solid #333333;
}
.text-swatches > li img {
  height: 38px;
  cursor: pointer;
}
#t-shirt-type {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
    width: 220px;
    display: none;
}
#design_control h3, #design_control .pdp_text_title {
  background: none repeat scroll 0 0 #F15A29;
  border: medium none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  margin: 0;
  text-indent: 10px;
  width: 100%;
}
#design_control .add_text_field {
  border: 1px solid #E55725;
  float: left;
  padding: 0 1%;
  width: 97.8%;
}
#design_control .add_text_field .pdp_text_key {
    background: none repeat scroll 0 0 #F4B937;
    border-radius: 5px;
    float: left;
    margin: 15px 0;
    width: 100%;
}
#design_control .add_text_field .pdp_text_key .pdp_text_tag {
  display: inline;
  float: left;
  padding: 5px 0;
}
#design_control .add_text_field .pdp_text_key .pdp_text_tag li {
  color: #000000;
  cursor: pointer;
  display: inline;
  float: left;
  font-size: 14px;
  padding: 0 5px;
  text-decoration: underline;
}
#design_control .add_text_field .pdp_text_list {
    float: left;
    width: 100%;
}
#design_control .add_text_field .pdp_text_list ul {
float: left;
width: 100%;
max-height: 200px;
display: block;
overflow: auto;
margin-bottom: 15px;
}
#design_control .add_text_field .pdp_text_list ul li {
  background: none repeat scroll 0 0 #FEFEFE;
  border: 1px solid #ECECEC;
  color: #000000;
  cursor: pointer;
  float: left;
  font-size: 14px;
  margin: 3px 0;
  padding: 2px 0 2px 15px;
  width: 95%;
}
#design_control .add_text_field .pdp_text_list ul li:hover, #design_control .add_text_field .pdp_text_list ul li.active {
    color: #fff;
    background: #f4b937;
    border-radius: 5px;
}
#design_control .add_text_field .pdp_add_custom_text {
    color: #E55725;
    float: left;
    font-size: 14px;
    padding: 5px 0 0;
}
#select_phone_type h3.product-type-title {
    display: none;
}
.product-img-box .inline1 {
  background: none repeat scroll 0 0 #4F8100;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 5px 10px;
  text-decoration: none;
}
.custom_link {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.custom_link a {
    color: #fff;
  background: none repeat scroll 0 0 #4F8100;
  padding: 5px 10px;
  border-radius: 15px;
}
#pdp_search_text{
  border: medium none;
  border-radius: 10px;
  font-size: 15px;
  height: 30px;
  text-indent: 10px;
  width: 60%;
}
#design_control h3 span, #design_control .pdp_text_title span {
  font-size: 25px;
  padding: 0 5px 0 0;
  float: right;
  cursor: pointer;
}
.pdp_close {
  margin-top: 10px;
  position: absolute;
  right: 0;
  z-index: 999;
}

#select_image img {
  height: 94px;
  margin: 3px 0 0;
  width: auto;
}
#select_image #photos_album li {
  cursor: pointer;
  height: 100px;
  margin: 0;
  overflow: hidden;
  padding: 1%;
  width: 18%;
}
#select_image li {
  float: left;
  margin: 0;
}
#select_image li a {
  border: 1px solid;
  cursor: pointer;
  float: left;
  height: 100px;
  margin: 7%;
  overflow: hidden;
  text-align: center;
  width: 86%;
}
.ui-wrapper {
	overflow:   visible !important;}
	
.ui-resizable-handle {
  background: url("../images/resize_handle.png") no-repeat scroll center center rgba(255, 255, 255, 0.3);
  border: 1px solid #F1F1F1;
  border-radius: 5px 5px 5px 5px;
  bottom: -10px;
  height: 10px;
  padding: 5px;
  right: -10px;
  width: 10px;
  z-index: 2;
}
.ui-rotatable-handle {
  background: url("../images/rotate.png") no-repeat scroll center center rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  height: 10px;
  left: auto !important;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: -10px !important;
  top: -10px !important;
  width: 10px;
}
.ui-rotatable-handle.clone {
	visibility:  hidden;}
#select_images img {
  cursor: pointer;
  padding: 5px;
  width: 55px;
}
.clear {
    clear: both;
}
.text-image {
  position: absolute;
  float: left;
}
.text-image p {
    margin: 0;
}
#select_images span {
  border: 1px solid #CCCCCC;
  float: left;
  height: 65px;
  margin: 0 5px;
  overflow: hidden;
  width: 65px;
}
.image_item {
  width: 100px;
  left: 0;
  position: absolute;
  top: 0;
}
.image_item img {

}
#product-image-wrap {
  float: left;
  overflow: hidden;
  position: relative;
}
.tab_design_image {
  float: left;
  margin: 10px 0 0 10%;
  width: 90%;
}
.content_tab {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #999999;
  float: left;
  margin: 0 0 2% 2%;
  padding: 10px 0 15px;
  text-align: center;
  width: 96%;
}
.tab_design_image a {
  background: none repeat scroll 0 0 #666;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  margin: 0 2px -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}
.tab_design_image a.active {
  background: none repeat scroll 0 0 #F5F5F5;
  color: #1E7EC8;
}
#main_image {
}
#remove_act {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.ui-close {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  border: 1px solid #F1F1F1;
  border-radius: 3px 3px 3px 3px;
  bottom: -10px;
  color: maroon;
  cursor: pointer;
  font-family: arial;
  font-size: 10px;
  font-weight: bold;
  height: 10px;
  left: -10px;
  line-height: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 10px;
  z-index: 100000;
}

#product-image-wrap .text-image img {
   width: 100%;
}
.item {
    border: 1px solid transparent;
}
.item.active {
  border: 1px dashed #CCCCCC;
  cursor: move;
} 
.ui-rotatable-handle, .ui-resizable-handle, .ui-close {
    display: none!important;
}  
.item.active .ui-rotatable-handle, .item.active .ui-resizable-handle, .item.active .ui-close {
    display: block!important;
} 
    