<?xml version="1.0"?>
<config>
    <modules>
        <MST_Pdp>
            <version>0.1.7</version>
        </MST_Pdp>
    </modules>
    <frontend>
        <routers>
            <pdp>
                <use>standard</use>
                <args>
                    <module>MST_Pdp</module>
                    <frontName>pdp</frontName>
                </args>
            </pdp>
        </routers>
        <layout>
            <updates>
                <pdp>
                    <file>pdp.xml</file>
                </pdp>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <pdp>
                <use>admin</use>
                <args>
                    <module>MST_Pdp</module>
                    <frontName>pdp</frontName>
                </args>
            </pdp>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <pdp module="pdp">
                <title>PDP</title>
                <sort_order>71</sort_order>
                <children>
                    <!-- <pdpgroup module="pdp">
                                               <title>Manage PDP Groups</title>
                                               <sort_order>1</sort_order>
                                               <children>
                                                       <addgroup module="pdp">
                                                               <title>Add New Group</title>
                                                               <sort_order>10</sort_order>
                                                               <action>pdp/adminhtml_group/new</action>
                                                       </addgroup>
                                                       <managegroup module="pdp">
                                                               <title>Manage Groups</title>
                                                               <sort_order>20</sort_order>
                                                               <action>pdp/adminhtml_group/index</action>
                                                       </managegroup>
                                               </children>
                                       </pdpgroup>
                    -->
                    <!--
                    <pdp module="pdp">
    <title>Manage PDP Template</title>
    <sort_order>20</sort_order>
                            <children>
                                    <addpdp module="pdp">
                                            <title>Add New Template</title>
                                            <sort_order>10</sort_order>
                                            <action>pdp/adminhtml_designtemplate_tshirt/index</action>
                                    </addpdp>
                                    <managepdp module="pdp">
                                            <title>Manage Templates</title>
                                            <sort_order>20</sort_order>
                                            <action>pdp/adminhtml_pdp/design</action>
                                    </managepdp>
                            </children>
</pdp>
                    -->
                    <!--
                    <pdp_design_area module="pdp">
                            <title>Manage PDP Design Areas</title>
                            <sort_order>1</sort_order>
                            <children>
                                    <addarea module="pdp">
                                            <title>Add New Design Area</title>
                                            <sort_order>10</sort_order>
                                            <action>pdp/adminhtml_designarea/new</action>
                                    </addarea>
                                    <manageareas module="pdp">
                                            <title>Manage Design Areas</title>
                                            <sort_order>20</sort_order>
                                            <action>pdp/adminhtml_designarea/index</action>
                                    </manageareas>
                            </children>
                    </pdp_design_area>
                    -->
                    <images module="pdp">
                        <title>Manage Artworks</title>
                        <sort_order>30</sort_order>
                      
                        <children>
                            <add_artworks_cate module="pdp">
                                <title>Manage Artwork Categories</title>
                                <sort_order>10</sort_order>
                                <action>pdp/adminhtml_artworkcate/index</action>
                            </add_artworks_cate>
                            <manageartworks module="pdp">
                                <title>Manage Artworks</title>
                                <sort_order>30</sort_order>
                                <action>pdp/adminhtml_pdp/image</action>
                            </manageartworks>
                        </children>
                    </images>
                    <font module="pdp">
                        <title>Manage Fonts</title>
                        <sort_order>35</sort_order>
                        <action>pdp/adminhtml_pdp/font</action>
                    </font>
                    <color module="pdp">
                        <title>Manage Colors</title>
                        <sort_order>36</sort_order>
                        <action>pdp/adminhtml_color/index</action>
                    </color>
                    <text module="pdp">
                        <title>Manage Popular Texts</title>
                        <sort_order>100</sort_order>
                        <action>pdp/adminhtml_text/index</action>
                    </text>
                    <!--
                    <pdptemplate module="pdp">
    <title>Manage Customer Designs</title>
    <sort_order>37</sort_order>
    <action>pdp/adminhtml_pdptemplate/index</action>
</pdptemplate>
                    -->
                    <setting module="pdp">
                        <title>Settings</title>
                        <sort_order>200</sort_order>
                        <action>adminhtml/system_config/edit/section/pdp</action>
                    </setting>
                </children>
            </pdp>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <pdp module="pdp">
                            <title>PDP</title>
                            <sort_order>71</sort_order>
                            <children>
                                <pdpgroup module="pdp">
                                    <title>Manage PDP Groups</title>
                                    <sort_order>1</sort_order>
                                    <children>
                                        <addgroup module="pdp">
                                            <title>Add New Group</title>
                                            <sort_order>10</sort_order>
                                            <action>pdp/adminhtml_group/new</action>
                                        </addgroup>
                                        <managegroup module="pdp">
                                            <title>Manage Groups</title>
                                            <sort_order>20</sort_order>
                                            <action>pdp/adminhtml_group/index</action>
                                        </managegroup>
                                    </children>
                                </pdpgroup>
                                <pdp module="pdp">
                                    <title>Manage PDP Template</title>
                                    <sort_order>20</sort_order>
                                    <children>
                                        <addpdp module="pdp">
                                            <title>Add New Template</title>
                                            <sort_order>10</sort_order>
                                            <action>pdp/adminhtml_designtemplate_tshirt/index</action>
                                        </addpdp>
                                        <managepdp module="pdp">
                                            <title>Manage Templates</title>
                                            <sort_order>20</sort_order>
                                            <action>pdp/adminhtml_pdp/design</action>
                                        </managepdp>
                                    </children>
                                </pdp>
                                <images module="pdp">
                                    <title>Manage Artworks</title>
                                    <sort_order>30</sort_order>
								  
                                    <children>
                                        <add_artworks_cate module="pdp">
                                            <title>Manage Artwork Categories</title>
                                            <sort_order>10</sort_order>
                                            <action>pdp/adminhtml_artworkcate/index</action>
                                        </add_artworks_cate>
                                        <manageartworks module="pdp">
                                            <title>Manage Artworks</title>
                                            <sort_order>30</sort_order>
                                            <action>pdp/adminhtml_pdp/image</action>
                                        </manageartworks>
                                    </children>
                                </images>
                                <font module="pdp">
                                    <title>Manage Fonts</title>
                                    <sort_order>35</sort_order>
                                    <action>pdp/adminhtml_pdp/font</action>
                                </font>
                                <!--
                                <pdptemplate module="pdp">
                                        <title>Manage Customer Designs</title>
                                        <sort_order>37</sort_order>
                                        <action>pdp/adminhtml_pdptemplate/index</action>
                                </pdptemplate>
                                -->
                                <setting module="pdp">
                                    <title>Settings</title>
                                    <sort_order>40</sort_order>
                                    <action>adminhtml/system_config/edit/section/pdp</action>
                                </setting>
                            </children>
                        </pdp>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pdp>
                    <file>pdp.xml</file>
                </pdp>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <pdp>
                <class>MST_Pdp_Model</class>
                <resourceModel>pdp_mysql4</resourceModel>
            </pdp>
            <pdp_mysql4>
                <class>MST_Pdp_Model_Mysql4</class>
                <entities>
                    <images>
                        <table>mst_pdp_images</table>
                    </images>
                    <design>
                        <table>mst_pdp_design</table>
                    </design>
                    <fonts>
                        <table>mst_pdp_fonts</table>
                    </fonts>
                    <colorimage>
                        <table>mst_pdp_image_color</table>
                    </colorimage>
                    <!-- <designcolor>
                        <table>mst_pdp_design_color</table>
                    </designcolor> -->
                    <printarea>
                        <table>mst_pdp_printarea</table>
                    </printarea>
                    <artworkcate>
                        <table>mst_pdp_artwork_category</table>
                    </artworkcate>
                    <pdpgroup>
                        <table>mst_pdp_group</table>
                    </pdpgroup>
                    <pdptemplate>
                        <table>mst_pdp_template</table>
                    </pdptemplate>
                    <admintemplate>
                        <table>mst_pdp_admin_template</table>
                    </admintemplate>
                    <act>
                        <table>mst_pdp_act</table>
                    </act>
                    <pdpoption>
                        <table>mst_pdp_options</table>
                    </pdpoption>
                    <color>
                        <table>mst_pdp_colors</table>
                    </color>
                    <text>
                        <table>mst_pdp_texts</table>
                    </text>
                    <designarea>
                        <table>mst_pdp_design_areas</table>
                    </designarea>
                    <designareaitem>
                        <table>mst_pdp_items_design_area</table>
                    </designareaitem>
                    <productstatus>
                        <table>mst_pdp_product_status</table>
                    </productstatus>
                    <pdpside>
                        <table>mst_pdp_multisides</table>
                    </pdpside>
                    <pdpcolor>
                        <table>mst_pdp_multisides_colors</table>
                    </pdpcolor>
                    <pdpcolorimage>
                        <table>mst_pdp_multisides_colors_images</table>
                    </pdpcolorimage>
                </entities>
            </pdp_mysql4>
        </models>
        <resources>
            <pdp_setup>
                <setup>
                    <module>MST_Pdp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdp_setup>
            <pdp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdp_write>
            <pdp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdp_read>
        </resources>
        <blocks>
            <pdp>
                <class>MST_Pdp_Block</class>
            </pdp>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>MST_Pdp_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <pdp>
                <class>MST_Pdp_Helper</class>
            </pdp>
        </helpers>
        <events>
            <!-- <checkout_cart_product_add_after>
                    <observers>
                            <mst_itemprice_price_observer>
                                    <type>singleton</type>
                                    <class>MST_Pdp_Model_Observer</class>
                                    <method>updateItemPrice</method>
                            </mst_itemprice_price_observer>
                    </observers>
            </checkout_cart_product_add_after> -->
            <controller_front_init_routers>
                <observers>
                    <pdp>
                        <type>singleton</type>
                        <class>MST_Pdp_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </pdp>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <pdp>
            <setting>
                <enable>1</enable>
                <productid>1</productid>
                <headertitle>Customize</headertitle>
                <urlkey>pdpdesign</urlkey>
            </setting>
        </pdp>
    </default>
</config>