<?xml version="1.0"?>
<config>
    <modules>
        <Itmyprofession_Design>
            <version>1.0.0</version>
        </Itmyprofession_Design>
    </modules>
    <global>
        <models>
            <design>
                <class>Itmyprofession_Design_Model</class>
            </design>
        </models>
        <resources>
            <design_setup>
                <setup>
                    <module>Itmyprofession_Design</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </design_setup>
        </resources>
        <helpers>
            <design>
                <class>Itmyprofession_Design_Helper</class>
            </design>
        </helpers>
        <events>
<!--            <checkout_submit_all_after>
                <observers>
                    <itmyprofession_design_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>design/observer</class>
                        <method>afterCheckoutSubmit</method>
                    </itmyprofession_design_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <itmyprofession_design_checkout_onepage_controller_success_action>
                        <type>singleton</type>
                        <class>design/observer</class>
                        <method>onCheckoutSuccess</method>
                    </itmyprofession_design_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>-->
            <sales_quote_add_item>
                <observers>
                    <itmyprofession_design_sales_quote_add_item>
                        <type>singleton</type>
                        <class>design/observer</class>
                        <method>onSalesQuoteAddItem</method>
                    </itmyprofession_design_sales_quote_add_item>
                </observers>
            </sales_quote_add_item>        
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>design/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </extra_options>
                </observers>
            </sales_convert_quote_item_to_order_item>    
        </events>
    </global>
</config>